.item {
  padding: 5px 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
  border: 2px solid rgba(1, 1, 1, 0.2);
}

.statusOn,
.statusOff {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.statusOn {
  background-color: green;
}
.statusOff {
  background-color: red;
}

.avatar {
  width: 85px;
}
.name {
  font-size: 1.5rem;
  font-weight: 500;
}
